<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fiestas Duitama</title>

	<link rel="stylesheet" href="vendor/fractionslider/fractionslider.css">
	<link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
	<!-- Social-feed css -->
	<link href="vendor/social-feed/jquery.socialfeed.css" rel="stylesheet" type="text/css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="bar-menu">
		<div class="limiter-container">
			<div class="line-box line-table">
				<div class="line logo">
					<a href="#">Ferias de Duitama</a>
				</div>
				<nav class="line menu">
					<ul>
						<li>
							<span class="item information">INFORMACIÓN GENERAL</span>
							<ul>
								<li><a href="#">INVITACIÓN</a></li>
								<li><a href="#">PATROCINAN</a></li>
								<li><a href="#">CONTACTO</a></li>
							</ul>
						</li>
						<li><a href="#" class="item programing">PROGRAMACIÓN</a></li>
						<li>
							<a href="#" class="item events">EVENTOS</a>
							<ul>
								<li><a href="#">MUSICALES</a></li>
								<li><a href="#">DEPORTIVOS</a></li>
								<li><a href="#">CULTURALES</a></li>
							</ul>
						</li>
						<li><a href="#" class="item artists">ARTISTAS</a></li>
						<li><a href="#" class="item news">NOTICIAS</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<section class="content">
		<header class="title-page title-page__red">
			<h1>EVENTOS</h1>
		</header>
		<div class="limiter-container">
			<div class="btn-right">
				<a href="#" class="btn btn-yellow btn-icon btn-icon__left btn__back">VOLVER</a>
			</div>
			<section class="events">
				<div class="line-box">
					<section class="line column">
						<header>
							<h2 class="title-post">EVENTOS CULTURALES</h2>
						</header>
						<div class="events__list">
							<ul>
								<li> <a href="event.json" class="load-event">CARRERA DE VALINERAS</a> </li>
								<li> <a href="event.json" class="load-event">DANZAS FOLCLÓRICAS</a> </li>
								<li> <a href="event.json" class="load-event">INAUGURACIÓN SKATE PARK</a> </li>
								<li> <a href="event.json" class="load-event active">VERVENA</a> </li>
								<li> <a href="event.json" class="load-event">CARRERA DE MESEROS</a> </li>
								<li> <a href="event.json" class="load-event">CARRERA DE VALINERAS</a> </li>
								<li> <a href="event.json" class="load-event">DANZAS FOLCLÓRICAS</a> </li>
								<li> <a href="event.json" class="load-event">INAUGURACIÓN SKATE PARK</a> </li>
								<li> <a href="event.json" class="load-event">VERVENA</a> </li>
								<li> <a href="event.json" class="load-event">CARRERA DE MESEROS</a> </li>
							</ul>
						</div>
					</section>
					<article class="line column event__load">
						<header class="post-title">
							<h3 class="title-post">VERVENA</h3>
						</header>
						<figure class="post-image">
							<img src="images/test/new-2.png" alt="Vervena">
						</figure>
						<div class="post-meta">
							<p>
								<span class="icon"><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>
								<span class="event-place">PARQUE DE LOS LIBERTADORES</span>
							</p>
							<p>
								<span class="icon"><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>
								<span class="event-hour">8:00 PM</span>
							</p>
						</div>
						<section class="post-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, minima, illum? Magni debitis ipsam ab qui voluptas possimus soluta sequi iure dolore. Consectetur, natus, totam. Alias eveniet, sequi ut consequatur.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam impedit minima vitae quod odio odit sit doloribus accusantium a dicta iusto quibusdam provident consectetur, repellendus consequatur quas mollitia minus suscipit?</p>
						</section>
					</article>
				</div>
			</section>
		</div>

		<section class="section sponsors">
			<header class="title-section">
				<h1>PATROCINAN</h1>
			</header>
			<div class="limiter-container">
				<div class="line-box">
					<div class="line sponsor">
						<img src="images/sponsors/gobernacion-boyaca.png" alt="Gobernación de Boyacá">
					</div>
					<div class="line sponsor">
						<img src="images/sponsors/bavaria.png" alt="Bavaria">
					</div>
					<div class="line sponsor">
						<img src="images/sponsors/loteria-boyaca.png" alt="Loteria de Boyacá">
					</div>
					<div class="line sponsor">
						<img src="images/sponsors/industria-licores-boyaca.png" alt="Industria de Licores de Boyacá">
					</div>
				</div>
			</div>
		</section>
	</section>

	<footer class="area-footer">
		<div class="limiter-container">
			<div class="social-buttons">
				<a href="#" class="button youtube"></a>
				<a href="#" class="button twitter"></a>
				<a href="#" class="button facebook"></a>
			</div>
			<section class="contact">
				<h1 class="title-section">CONTACTO</h1>
				<form action="#">
					<div class="form-input">
						<input type="text" placeholder="NOMBRE">
					</div>
					<div class="form-input">
						<input type="email" placeholder="CORREO ELECTRÓNICO">
					</div>
					<div class="form-input">
						<textarea placeholder="COMENTARIO"></textarea>
					</div>
					<div class="form-input btn-right">
						<button class="btn btn-green">ENVIAR</button>
					</div>
				</form>
			</section>
			<p class="info">Todos los derechos Reservados. Feria de Duitama 2016</p>
		</div>
	</footer>

	<script src="vendor/jquery-1.11.1.min.js"></script>

	<script src="vendor/fractionslider/jquery.fractionslider.min.js"></script>
	<script src="vendor/owl-carousel/owl.carousel.min.js"></script>
	
	<!-- Social-feed js -->
	<script src="vendor/social-feed/codebird/codebird.js"></script>
	<script src="vendor/social-feed/doT/doT.min.js"></script>
	<script src="vendor/social-feed/moment/moment.js"></script>
	<script src="vendor/social-feed/jquery.socialfeed.js"></script>

	<script src="vendor/masonry/imagesloaded.pkgd.js"></script>
	<script src="vendor/masonry/masonry.pkgd.min.js"></script>

	<script src="js/main.js"></script>
</body>
</html>