<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>Fiestas Duitama</title>

	<link rel="stylesheet" href="vendor/fractionslider/fractionslider.css">
	<link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
	<!-- Social-feed css -->
	<link href="vendor/social-feed/jquery.socialfeed.css" rel="stylesheet" type="text/css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="bar-menu">
		<div class="limiter-container">
			<div class="line-box line-table">
				<div class="line logo">
					<a href="#">Ferias de Duitama</a>
				</div>
				<nav class="line menu">
					<ul>
						<li>
							<span class="item information">INFORMACIÓN GENERAL</span>
							<ul>
								<li><a href="#">INVITACIÓN</a></li>
								<li><a href="#">PATROCINAN</a></li>
								<li><a href="#">CONTACTO</a></li>
							</ul>
						</li>
						<li><a href="#" class="item programing">PROGRAMACIÓN</a></li>
						<li>
							<a href="#" class="item events">EVENTOS</a>
							<ul>
								<li><a href="#">MUSICALES</a></li>
								<li><a href="#">DEPORTIVOS</a></li>
								<li><a href="#">CULTURALES</a></li>
							</ul>
						</li>
						<li><a href="#" class="item artists">ARTISTAS</a></li>
						<li><a href="#" class="item news">NOTICIAS</a></li>
					</ul>
					<button class="menu-button">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</button>
				</nav>
			</div>
		</div>
	</header>

	<section class="content">
		<div class="slider">
			<article class="slide slide__orange">
				<div class="slide-item" data-in="left">
					<div class="slide-image" style="background-image: url('images/test/slide-1.jpg')"></div>
				</div>
				<div class="slide-item" data-in="bottomRight">
					<div class="image-decoration"></div>
				</div>
				<div class="slide-item" data-in="top" data-delay="600">
					<div class="slide-text">
						<div class="content__text">
							<h2 class="slide-title">NOCHE DE LA <strong>JUVENTUD</strong></h2>
							<p>
								PLAZA DE LOS LIBERTADORES
								<strong>7:00 PM</strong>
							</p>
						</div>
					</div>
				</div>
			</article>
			<article class="slide slide__blue">
				<div class="slide-item" data-in="left">
					<div class="slide-image" style="background-image: url('images/test/slide-2.jpg')"></div>
				</div>
				<div class="slide-item" data-in="bottomRight">
					<div class="image-decoration"></div>
				</div>
				<div class="slide-item" data-in="top" data-delay="600">
					<div class="slide-text">
						<div class="content__text">
							<h2 class="slide-title">NOCHE DE LA <strong>JUVENTUD</strong></h2>
							<p>
								PLAZA DE LOS LIBERTADORES
								<strong>7:00 PM</strong>
							</p>
						</div>
					</div>
				</div>
			</article>
		</div>

		<section class="section sponsors">
			<header class="title-section">
				<h1>INVITAN</h1>
			</header>
			<div class="limiter-container">
				<div class="line-box">
					<div class="line sponsor">
						<img src="images/sponsors/gobernacion-boyaca.png" alt="Gobernación de Boyacá">
					</div>
					<div class="line sponsor">
						<img src="images/sponsors/bavaria.png" alt="Bavaria">
					</div>
					<div class="line sponsor">
						<img src="images/sponsors/loteria-boyaca.png" alt="Loteria de Boyacá">
					</div>
					<div class="line sponsor">
						<img src="images/sponsors/industria-licores-boyaca.png" alt="Industria de Licores de Boyacá">
					</div>
					<div class="line sponsor">
						<img src="images/sponsors/postobon.png" alt="Postobon">
					</div>
				</div>
			</div>
		</section>

		<section class="section events-live">
			<header class="title">
				<h1>PROGRAMACIÓN EN VIVO</h1>
			</header>
			<div class="limiter-container">
				<div class="oxl-carousel">
					<div class="event">
						<h2>CABALGATA INFANTIL</h2>
						<div class="info">
							<p><span class="icon"><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>10:00 AM</p>
							<p><span class="icon"><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>PLAZA DE TOROS</p>
						</div>
					</div>
					<div class="event">
						<h2>CABALGATA INFANTIL</h2>
						<div class="info">
							<p><span class="icon"><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>10:00 AM</p>
							<p><span class="icon"><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>PLAZA DE TOROS</p>
						</div>
					</div>
					<div class="event">
						<h2>CABALGATA INFANTIL</h2>
						<div class="info">
							<p><span class="icon"><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>10:00 AM</p>
							<p><span class="icon"><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>PLAZA DE TOROS</p>
						</div>
					</div>
					<div class="event">
						<h2>CABALGATA INFANTIL</h2>
						<div class="info">
							<p><span class="icon"><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>10:00 AM</p>
							<p><span class="icon"><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>PLAZA DE TOROS</p>
						</div>
					</div>
					<div class="event">
						<h2>CABALGATA INFANTIL</h2>
						<div class="info">
							<p><span class="icon"><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>10:00 AM</p>
							<p><span class="icon"><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>PLAZA DE TOROS</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section social-feed">
			<div class="limiter-container">
				<div id="social-feed">
					<div class="grid-sizer"></div>
				</div>
			</div>
		</section>

		<aside class="section parallax index__parallax">
			<div class="limiter-container">
				<a href="">POR LA DUITAMA QUE SOÑAMOS</a>
			</div>
		</aside>

		<section class="section news index__news">
			<header class="title-section">
				<h1>NOTICIAS</h1>
			</header>
			<div class="limiter-container">
				<div class="line-box">
					<article class="line new">
						<div class="post">
							<figure class="post-image js-resizing" data-resizing="9/12">
								<img src="images/test/new-1.png" alt="Lorem ipsum">
							</figure>
							<header class="post-header">
								<h2 class="post-title">Lorem ipsum</h2>
								<p class="post-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quae dicta magnam dolor quis voluptatum laborum nisi, aperiam accusamus.</p>
							</header>
						</div>
						<div class="btn-right">
							<a href="#" class="btn btn-yellow">VER MÁS</a>
						</div>
					</article>
					<article class="line new">
						<div class="post">
							<figure class="post-image js-resizing" data-resizing="9/12">
								<img src="images/test/new-2.png" alt="Lorem ipsum">
							</figure>
							<header class="post-header">
								<h2 class="post-title">Lorem ipsum</h2>
								<p class="post-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quae dicta magnam dolor quis voluptatum laborum nisi, aperiam accusamus.</p>
							</header>
						</div>
						<div class="btn-right">
							<a href="#" class="btn btn-yellow">VER MÁS</a>
						</div>
					</article>
				</div>
			</div>
		</section>
	</section>

	<footer class="area-footer">
		<div class="limiter-container">
			<div class="social-buttons">
				<a href="#" class="button youtube"></a>
				<a href="#" class="button twitter"></a>
				<a href="#" class="button facebook"></a>
			</div>
			<section class="contact">
				<h1 class="title-section">CONTACTO</h1>
				<form action="#">
					<div class="form-input">
						<input type="text" placeholder="NOMBRE">
					</div>
					<div class="form-input">
						<input type="email" placeholder="CORREO ELECTRÓNICO">
					</div>
					<div class="form-input">
						<textarea placeholder="COMENTARIO"></textarea>
					</div>
					<div class="form-input btn-right">
						<button class="btn btn-green">ENVIAR</button>
					</div>
				</form>
			</section>
			<p class="info">Todos los derechos Reservados. Feria de Duitama 2016</p>
		</div>
	</footer>

	<script src="vendor/jquery-1.11.1.min.js"></script>

	<script src="vendor/fractionslider/jquery.fractionslider.min.js"></script>
	<script src="vendor/owl-carousel/owl.carousel.min.js"></script>
	
	<!-- Social-feed js -->
	<script src="vendor/social-feed/codebird/codebird.js"></script>
	<script src="vendor/social-feed/doT/doT.min.js"></script>
	<script src="vendor/social-feed/moment/moment.js"></script>
	<script src="vendor/social-feed/jquery.socialfeed.js"></script>

	<script src="vendor/masonry/imagesloaded.pkgd.js"></script>
	<script src="vendor/masonry/masonry.pkgd.min.js"></script>

	<script src="js/main.js"></script>
</body>
</html>