<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>Fiestas Duitama</title>

	<link rel="stylesheet" href="vendor/fractionslider/fractionslider.css">
	<link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
	<!-- Social-feed css -->
	<link href="vendor/social-feed/jquery.socialfeed.css" rel="stylesheet" type="text/css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="bar-menu">
		<div class="limiter-container">
			<div class="line-box line-table">
				<div class="line logo">
					<a href="#">Ferias de Duitama</a>
				</div>
				<nav class="line menu">
					<ul>
						<li>
							<span class="item information">INFORMACIÓN GENERAL</span>
							<ul>
								<li><a href="#">INVITACIÓN</a></li>
								<li><a href="#">PATROCINAN</a></li>
								<li><a href="#">CONTACTO</a></li>
							</ul>
						</li>
						<li><a href="#" class="item programing">PROGRAMACIÓN</a></li>
						<li>
							<a href="#" class="item events">EVENTOS</a>
							<ul>
								<li><a href="#">MUSICALES</a></li>
								<li><a href="#">DEPORTIVOS</a></li>
								<li><a href="#">CULTURALES</a></li>
							</ul>
						</li>
						<li><a href="#" class="item artists">ARTISTAS</a></li>
						<li><a href="#" class="item news">NOTICIAS</a></li>
					</ul>
					<button class="menu-button">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</button>
				</nav>
			</div>
		</div>
	</header>

	<section class="content">
		<header class="title-page title-page__blue">
			<h1>INFORMACIÓN GENERAL</h1>
			<h2>INVITACIÓN</h2>
		</header>
		<div class="limiter-container">
			<article class="line-box info__invitation">
				<div class="line">
					<figure class="post-image">
						<img src="images/poster-ferias.png" alt="Ferias de Duitama">
					</figure>
				</div>
				<div class="line">
					<header>
						<h3 class="title-post">FERIA DE DUITAMA 2016</h3>
					</header>
					<section class="post-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quasi repudiandae voluptas consectetur dolores blanditiis, similique iste itaque ducimus! Illo eveniet itaque aliquam deleniti, impedit, enim quibusdam architecto! Laboriosam, eaque.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nobis excepturi, temporibus, quis, inventore magnam obcaecati repellendus voluptate adipisci incidunt praesentium ex. Nulla enim quia debitis repudiandae provident, veniam sequi.</p>
						<p>
							<img src="images/info-invitacion__illustration.png" alt="Ilustración">
						</p>
					</section>
				</div>
			</article>
		</div>
	</section>

	<footer class="area-footer">
		<div class="limiter-container">
			<div class="social-buttons">
				<a href="#" class="button youtube"></a>
				<a href="#" class="button twitter"></a>
				<a href="#" class="button facebook"></a>
			</div>
			<section class="contact">
				<h1 class="title-section">CONTACTO</h1>
				<form action="#">
					<div class="form-input">
						<input type="text" placeholder="NOMBRE">
					</div>
					<div class="form-input">
						<input type="email" placeholder="CORREO ELECTRÓNICO">
					</div>
					<div class="form-input">
						<textarea placeholder="COMENTARIO"></textarea>
					</div>
					<div class="form-input btn-right">
						<button class="btn btn-green">ENVIAR</button>
					</div>
				</form>
			</section>
			<p class="info">Todos los derechos Reservados. Feria de Duitama 2016</p>
		</div>
	</footer>

	<script src="vendor/jquery-1.11.1.min.js"></script>

	<script src="vendor/fractionslider/jquery.fractionslider.min.js"></script>
	<script src="vendor/owl-carousel/owl.carousel.min.js"></script>
	
	<!-- Social-feed js -->
	<script src="vendor/social-feed/codebird/codebird.js"></script>
	<script src="vendor/social-feed/doT/doT.min.js"></script>
	<script src="vendor/social-feed/moment/moment.js"></script>
	<script src="vendor/social-feed/jquery.socialfeed.js"></script>

	<script src="vendor/masonry/imagesloaded.pkgd.js"></script>
	<script src="vendor/masonry/masonry.pkgd.min.js"></script>

	<script src="js/main.js"></script>
</body>
</html>