<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>Fiestas Duitama</title>

	<link rel="stylesheet" href="vendor/fractionslider/fractionslider.css">
	<link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
	<!-- Social-feed css -->
	<link href="vendor/social-feed/jquery.socialfeed.css" rel="stylesheet" type="text/css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="vendor/jquery-ui/jquery-ui.min.css">

	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="bar-menu">
		<div class="limiter-container">
			<div class="line-box line-table">
				<div class="line logo">
					<a href="#">Ferias de Duitama</a>
				</div>
				<nav class="line menu">
					<ul>
						<li>
							<span class="item information">INFORMACIÓN GENERAL</span>
							<ul>
								<li><a href="#">INVITACIÓN</a></li>
								<li><a href="#">PATROCINAN</a></li>
								<li><a href="#">CONTACTO</a></li>
							</ul>
						</li>
						<li><a href="#" class="item programing">PROGRAMACIÓN</a></li>
						<li>
							<a href="#" class="item events">EVENTOS</a>
							<ul>
								<li><a href="#">MUSICALES</a></li>
								<li><a href="#">DEPORTIVOS</a></li>
								<li><a href="#">CULTURALES</a></li>
							</ul>
						</li>
						<li><a href="#" class="item artists">ARTISTAS</a></li>
						<li><a href="#" class="item news">NOTICIAS</a></li>
					</ul>
					<button class="menu-button">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</button>
				</nav>
			</div>
		</div>
	</header>

	<section class="content">
		<header class="title-page title-page__green">
			<h1>PROGRAMACIÓN</h1>
		</header>

		<section class="section page__programming">
			<div class="limiter-container">
				<div class="accordion">
					<h3 class="accordion-title accordion-title__orange accordion-title__icon">VIERNES 7</h3>
					<div class="accordion-content">
						<table>
							<tr>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>
										8:00 AM
									</p>
								</td>
								<td><p>CARRERA DE VALINERAS</p></td>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>
										PARQUE DE LOS LIBERTADORES
									</p>
								</td>
							</tr>
							<tr>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>
										8:00 AM
									</p>
								</td>
								<td><p>CARRERA DE VALINERAS</p></td>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>
										PARQUE DE LOS LIBERTADORES
									</p>
								</td>
							</tr>
						</table>
					</div>
					<h3 class="accordion-title accordion-title__blue accordion-title__icon">SÁBADO 8</h3>
					<div class="accordion-content">
						<table>
							<tr>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>
										8:00 AM
									</p>
								</td>
								<td><p>CARRERA DE VALINERAS</p></td>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>
										PARQUE DE LOS LIBERTADORES
									</p>
								</td>
							</tr>
							<tr>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>
										8:00 AM
									</p>
								</td>
								<td><p>CARRERA DE VALINERAS</p></td>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>
										PARQUE DE LOS LIBERTADORES
									</p>
								</td>
							</tr>
						</table>
					</div>
					<h3 class="accordion-title accordion-title__purple accordion-title__icon">DOMINGO 9</h3>
					<div class="accordion-content">
						<table>
							<tr>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>
										8:00 AM
									</p>
								</td>
								<td><p>CARRERA DE VALINERAS</p></td>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>
										PARQUE DE LOS LIBERTADORES
									</p>
								</td>
							</tr>
							<tr>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>
										8:00 AM
									</p>
								</td>
								<td><p>CARRERA DE VALINERAS</p></td>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>
										PARQUE DE LOS LIBERTADORES
									</p>
								</td>
							</tr>
						</table>
					</div>
					<h3 class="accordion-title accordion-title__red accordion-title__icon">LUNES 10</h3>
					<div class="accordion-content">
						<table>
							<tr>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>
										8:00 AM
									</p>
								</td>
								<td><p>CARRERA DE VALINERAS</p></td>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>
										PARQUE DE LOS LIBERTADORES
									</p>
								</td>
							</tr>
							<tr>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>
										8:00 AM
									</p>
								</td>
								<td><p>CARRERA DE VALINERAS</p></td>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>
										PARQUE DE LOS LIBERTADORES
									</p>
								</td>
							</tr>
						</table>
					</div>
					<h3 class="accordion-title accordion-title__yellow accordion-title__icon">MARTES 11</h3>
					<div class="accordion-content">
						<table>
							<tr>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>
										8:00 AM
									</p>
								</td>
								<td><p>CARRERA DE VALINERAS</p></td>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>
										PARQUE DE LOS LIBERTADORES
									</p>
								</td>
							</tr>
							<tr>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-hour.svg" alt="Hora" class="to-svg"></span>
										8:00 AM
									</p>
								</td>
								<td><p>CARRERA DE VALINERAS</p></td>
								<td>
									<p class="icon-line">
										<span><img src="images/icon-place.svg" alt="Lugar" class="to-svg"></span>
										PARQUE DE LOS LIBERTADORES
									</p>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</section>

		<section class="section sponsors">
			<header class="title-section">
				<h1>PATROCINAN</h1>
			</header>
			<div class="limiter-container">
				<div class="line-box">
					<div class="line sponsor">
						<img src="images/sponsors/gobernacion-boyaca.png" alt="Gobernación de Boyacá">
					</div>
					<div class="line sponsor">
						<img src="images/sponsors/bavaria.png" alt="Bavaria">
					</div>
					<div class="line sponsor">
						<img src="images/sponsors/loteria-boyaca.png" alt="Loteria de Boyacá">
					</div>
					<div class="line sponsor">
						<img src="images/sponsors/industria-licores-boyaca.png" alt="Industria de Licores de Boyacá">
					</div>
				</div>
			</div>
		</section>
	</section>

	<footer class="area-footer">
		<div class="limiter-container">
			<div class="social-buttons">
				<a href="#" class="button youtube"></a>
				<a href="#" class="button twitter"></a>
				<a href="#" class="button facebook"></a>
			</div>
			<section class="contact">
				<h1 class="title-section">CONTACTO</h1>
				<form action="#">
					<div class="form-input">
						<input type="text" placeholder="NOMBRE">
					</div>
					<div class="form-input">
						<input type="email" placeholder="CORREO ELECTRÓNICO">
					</div>
					<div class="form-input">
						<textarea placeholder="COMENTARIO"></textarea>
					</div>
					<div class="form-input btn-right">
						<button class="btn btn-green">ENVIAR</button>
					</div>
				</form>
			</section>
			<p class="info">Todos los derechos Reservados. Feria de Duitama 2016</p>
		</div>
	</footer>

	<script src="vendor/jquery-1.11.1.min.js"></script>

	<script src="vendor/fractionslider/jquery.fractionslider.min.js"></script>
	<script src="vendor/owl-carousel/owl.carousel.min.js"></script>
	
	<!-- Social-feed js -->
	<script src="vendor/social-feed/codebird/codebird.js"></script>
	<script src="vendor/social-feed/doT/doT.min.js"></script>
	<script src="vendor/social-feed/moment/moment.js"></script>
	<script src="vendor/social-feed/jquery.socialfeed.js"></script>

	<script src="vendor/masonry/imagesloaded.pkgd.js"></script>
	<script src="vendor/masonry/masonry.pkgd.min.js"></script>

	<script src="vendor/jquery-ui/jquery-ui.min.js"></script>

	<script src="js/main.js"></script>
</body>
</html>